body {
  font-family: Oswald;
}

h1 {
  color: red;
}


h3 {
  font-size: 18px;
  display: inline-block;
}

.header {
  margin-left: 100px;
}
.information {
  margin-left: 100px;
}

input {
  margin-bottom: 15px;
  text-align: left;
}

button {
  margin-top: 10px;
  background-color: gray;
  padding: 8px 15px 8px 15px;
  color: white;
  font-family: Oswald;
  font-size: 16px;
}